/target
.worktrees/
/data/
datasets/binance/*.csv
datasets/binance/*.parquet
!datasets/binance/.gitkeep
datasets/ibkr/*.csv
datasets/ibkr/*.parquet
!datasets/ibkr/.gitkeep
*.db
.env
.DS_Store
target*
**/.tmp*
*.local.ps1

**/.venv/**

# client
client/node_modules/
client/dist/
services/model/.venv/Lib/site-packages/torch/_refs/special/__init__.py
